﻿@model ProjectOnCart.Models.Item

@{
    ViewData["Title"] = "AddItems";
}

<h1>AddItems</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItems">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="seller_name" class="control-label">Seller Name</label>
                    <input asp-for="seller_name" class="form-control" />
                    <span asp-validation-for="seller_name" class="text-danger"></span>
                </div>
                <label asp-for="item_name" class="control-label">Name</label>
                <input asp-for="item_name" class="form-control" />
                <span asp-validation-for="item_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="category_name" class="control-label">Category Name</label>
                <input asp-for="category_name" class="form-control" />
                <span asp-validation-for="category_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="subcategory_name" class="control-label">SubCategory Name</label>
                <input asp-for="subcategory_name" class="form-control" />
                <span asp-validation-for="subcategory_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="item_desc" class="control-label">Description</label>
                <input asp-for="item_desc" class="form-control" />
                <span asp-validation-for="item_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="no_of_items" class="control-label">No Of Items</label>
                <input asp-for="no_of_items" class="form-control" />
                <span asp-validation-for="no_of_items" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="price" class="control-label">Price</label>
                <input asp-for="price" class="form-control" />
                <span asp-validation-for="price" class="text-danger"></span>
            </div>





            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="DashBoard">Home</a>
</div>

