﻿@model ProjectOnCart.Models.Seller

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="seller_name" class="control-label">Name</label>
                <input asp-for="seller_name" class="form-control" />
                <span asp-validation-for="seller_name" class="text-danger"></span>
            </div>
            
            
            
            <div class="form-group">
                <label asp-for="pswd" class="control-label">Password</label>
                <input asp-for="pswd" class="form-control" />
                <span asp-validation-for="pswd" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div>
           <h5 class="text-danger"> @ViewBag.message</h5>
        </div>
    </div>
</div>

<div>
    <a asp-action="Register">Register here</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
