﻿@model ProjectOnCart.Models.Seller

@{
    ViewData["Title"] = "Register";
}

<h1>Register Here</h1>

<h4>Seller</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="seller_name" class="control-label">Name</label>
                <input asp-for="seller_name" class="form-control" />
                <span asp-validation-for="seller_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seller_email" class="control-label">Email</label>
                <input asp-for="seller_email" class="form-control" />
                <span asp-validation-for="seller_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seller_phn" class="control-label">Mobile</label>
                <input asp-for="seller_phn" class="form-control" />
                <span asp-validation-for="seller_phn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="seller_cpname" class="control-label">Company Name</label>
                <input asp-for="seller_cpname" class="form-control" />
                <span asp-validation-for="seller_cpname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GSTIN" class="control-label">GSTIN</label>
                <input asp-for="GSTIN" class="form-control" />
                <span asp-validation-for="GSTIN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pswd" class="control-label">Password</label>
                <input asp-for="pswd" class="form-control" />
                <span asp-validation-for="pswd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conform_pswd" class="control-label">Conform Password</label>
                <input asp-for="conform_pswd" class="form-control" />
                <span asp-validation-for="conform_pswd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @ViewBag.message
        </div>
    </div>
</div>

<div>
    <a asp-action="Login">sign in</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
