﻿@using Microsoft.AspNetCore.Http
@using ProjectOnCart.Models;
@{
    ViewData["Title"] = "DashBoard";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1>DashBoard</h1>
@if (Context.Session.GetString("uname") != null)
{
    <h3 class="text-center text-danger">welcome  @Context.Session.GetString("uname").ToString()</h3>
    <h4 class="text-right text-danger">your last login @Context.Session.GetString("lstlgn")</h4>
}
<h5 class="text-right"><a asp-controller="Seller" asp-action="Login">Logout</a></h5>