﻿@model ProjectOnCart.Models.Buyer

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>Buyer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login">
           

            <div class="form-group">
                <label asp-for="buyer_name" class="control-label">Name</label>
                <input asp-for="buyer_name" class="form-control" />
                <span asp-validation-for="buyer_name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="buyer_pswd" class="control-label">Password</label>
                <input asp-for="buyer_pswd" class="form-control" />
                <span asp-validation-for="buyer_pswd" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
        <div>
            @ViewBag.message
        </div>
    </div>
</div>

<div>
    <a asp-action="Register">Register Here</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
