﻿@model ProjectOnCart.Models.Buyer

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Buyer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="buyer_name" class="control-label">Name</label>
                <input asp-for="buyer_name" class="form-control" />
                <span asp-validation-for="buyer_name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyer_email" class="control-label">Email</label>
                <input asp-for="buyer_email" class="form-control" />
                <span asp-validation-for="buyer_email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyer_phnno" class="control-label">Mobile</label>
                <input asp-for="buyer_phnno" class="form-control" />
                <span asp-validation-for="buyer_phnno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="buyer_pswd" class="control-label">Password</label>
                <input asp-for="buyer_pswd" class="form-control" />
                <span asp-validation-for="buyer_pswd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="conformpswd" class="control-label">Conform Password</label>
                <input asp-for="conformpswd" class="form-control" />
                <span asp-validation-for="conformpswd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
        <div>
            <h5 class="text-danger">@ViewBag.message</h5>
        </div>
    </div>
</div>

<div>
    <a asp-action="Login">Sign In</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

